*.aux
*.log
thesis.toc
thesis.lot
thesis.log
plot.eps
thesis.lof
applications.log
front.log
physicalsystems.log
pufoverview.log
front.blg
front.bbl
thesis.bbl
thesis.blg

.DS_Store

cryptographyoverview.log

cryptographyoverview.log

thesis.dvi

.gitignore.swp
